@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
  --font-serif: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;

  /* Techno Brain Official primary brand palette */
  --color-tbl-orange: #fa7d38;
  --color-[#1e1e28]: #595278;
  /* --color-[#1e1e28]-mid: #4b456f;
  --color-[#1e1e28]-dark: #3b3852; */

  /* Official Business unit Colors */
  --color-unit-pfm: #0072bc;
  --color-unit-idm: #7a5992;
  --color-unit-tc: #f38a20;
  --color-unit-oracle: #d11e2a;
  --color-unit-microsoft: #01143e;
  --color-unit-training: #9cbd3c;
  --color-unit-bpo: #09807a;
  --color-unit-digital: #ffdd00;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* tribal Abstract background Pattern */
.bg-art-pattern {
  background-color: #595278;
  background-image: url("/brand-pattern.svg");
  background-size: 800px 800px;
  background-repeat: repeat;
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Base styles only use variables, no hardcoded fonts. */
@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }
}

/*Marquee Speed */
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 19s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}